.principal{
    position: absolute;
    z-index: 999;
}

.boton_logo{
    width: 150px;
}

.iconos{
    width: 100%;
    display: flex;
    min-width: 80%;
    margin-left: 200px;
    margin-right: 40px;
    padding-right: 160px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.logout{
    position: absolute;
    right: 0;
}

.contenido{
    background-image: url('../img/background.jpg');
    background-size: auto;
    background-position: center;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;
    overflow: auto;

}

@media screen and (min-aspect-ratio: 4/3){
    .titulo{
        font-family: 'Koulen';
        display: flex;
        align-items: center;
        background-color: rgb(229, 27, 35);
        box-shadow: rgba(229, 27, 35, 0.3) -2px 2px, rgba(229, 27, 35, 0.2) -4px 4px, rgba(229, 27, 35, 0.05) -6px 6px;
        border-radius: 0px 0px 0px 15px;
        padding: 15px;
        position: fixed;
        right: 0;
        top:0;
        margin-top: 63px;
        font-size: large;
        color: white;
    }
}

@media screen and (max-aspect-ratio: 4/3) {
    .titulo {
        font-family: 'Koulen';
        display: flex;
        align-items: center;
        background-color: rgb(229, 27, 35);
        box-shadow: rgba(229, 27, 35, 0.3) -2px 2px, rgba(229, 27, 35, 0.2) -4px 4px, rgba(229, 27, 35, 0.05) -6px 6px;
        border-radius: 15px 0px 0px 0px;
        padding: 15px;
        position: fixed;
        right: 0;
        bottom:0;
        font-size: large;
        color: white;
    }
  }

  @media (min-width: 1000) {
    .titulo {
        font-family: 'Koulen';
        display: flex;
        align-items: center;
        background-color: rgb(229, 27, 35);
        box-shadow: rgba(229, 27, 35, 0.3) -2px 2px, rgba(229, 27, 35, 0.2) -4px 4px, rgba(229, 27, 35, 0.05) -6px 6px;
        border-radius: 15px 0px 0px 0px;
        padding: 15px;
        position: fixed;
        right: 0;
        bottom:0;
        font-size: large;
        color: white;
        
    }
  }

  @media (max-height: 400px) {
    .titulo {
        opacity: 0;
    }
  }

.titulo--texto{
    display: flex;
    align-items: center;
    padding-top: 2px;
    margin-left: 5px;
    height: 20px;
}