.BuscarAnadir--contenedor{
    margin: 10px 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.BuscarAnadir--buscador{
    width: 300px;
    margin-right: 10px;
    margin-bottom: 5px;
}

.BuscarAnadir--buscador > * > *{
    width: 300px;
}

.BuscarAnadir--botones{
    display: flex;
}

.BuscarAnadir--boton{
    margin-left: 5px;
}

.BuscarAnadir--botones .ButtonCustom{
    width: 110px;
}

.ButtonCustom{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ButtonCustom--texto{
    font-family: 'Koulen';
    display: flex;
    align-items: center;
    padding-top: 3px;
    height: 20px;
}

.ButtonCustom--texto--icono{
    font-family: 'Koulen';
    display: flex;
    align-items: center;
    padding-top: 2px;
    margin-left: 5px;
    height: 20px;
}

.cargando{
    margin: 10px 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(255, 255, 255, 0.8);
    height: 100px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 20px rgba( 0, 0, 0, 0.2 );
}
.cargando > *{
    margin:10px;
}

.alertCustom{
    position: fixed;
    left: 0;
    bottom: 0;
    margin-left: 20px;
    margin-bottom: 30px;
    height: 40px;
    z-index: 9999;
}

.texFieldCustom{
    min-height: 90px;
    min-width: 210px;
}

.texFieldCustom--error{
    color: white;
    margin-left: 5px;
    padding: 2px;
    background-color: #e51b23;
    border-radius: 0px 8px 0px 8px;
    width: fit-content;
    box-shadow: rgba(229, 27, 35, 0.3) 1px 1px, rgba(229, 27, 35, 0.2) 2px 2px, rgba(229, 27, 35, 0.05) 3px 3px;
}

.bigButton--container{
    background-color: white;
    height: 100px;
    width:200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Koulen';
    font-size: large;
    user-select: none; 
}

.bigButton--container:hover{
    background-color: #e51b23;
    color: white;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 7px 15px -12px inset, rgba(0, 0, 0, 0.3) 0px 8px 16px -9px inset;
}

.bigButton--container--disabled{
    background-color: rgb(177, 177, 177);
    height: 100px;
    width:200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Koulen';
    font-size: large;
    user-select: none;     
}

.bigButton--container--disabled:hover{
    background-color: rgb(153, 153, 153);
}

.tituloPagina--container{
    color: #636363;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-bottom: solid rgba(99, 99, 99, 0.8) 2px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    border-radius: 0px 0px 5px 0px;
    font-family: 'Koulen';
    font-size: x-large;
}

.tituloPagina--text{
    margin-left: 10px;
    margin-bottom: -12px;
}

.textFieldCustom--fullSize{
    width: 100%;
}

.textFieldCustom--time{
    width: 130px;
}


