*{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #494949;
  
}

/* SCROLLBAR CSS */

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #b9b6b6; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 8, 0.411); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background:  rgba(255, 35, 42, 0.644); 
}

/* END SCROLLBAR CSS */

.pagina{
  background-color: rgba(241, 241, 241, 0.7);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: auto;
  padding-top: 65px;
  max-width: 1000px;
  min-height: 100%;
}

.login{
  background-image: url('./components/img/background.jpg');
  background-size: auto;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 100%;
}

.loginCard{
  width: 400px;
  height: 400px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.loginCardPicture{
  width: 100%;
  text-align: center;
}

.loginCard img{
  margin: 25px 38px;
}

.loginTf{
  text-align: center;
}

.loginBotones{
  text-align: center;
  padding-bottom: 25px;
}

.loginBotones button{
  margin:5px;
}

.inicio--container{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position:absolute;
  max-width: 1000px;
  height: 95%;
  margin-top: -60px;
}

.bigButtons--container{
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bigButtons--container > *{
  margin:10px
}